.container-fluid {
  /* border: 1px solid black; */
  height: 86vh;
  display: flex;
  flex-direction: row;
}
.Dashboard_left_block {
  height: 86vh;
  border: 1px solid black;
  width: 25vw;
}
.Dashboard_right_block {
  height: 86vh;
  border: 1px solid black;
  width: 75vw;
}
.Dashboard_left_block_heading {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  font-size: large;
  color: rgb(54, 54, 150);
  margin-top: 2vh;
}
.Dashboard_personal_details {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
}
.Dashboard_right_block_heading {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  font-size: large;
  color: rgb(54, 54, 150);
  margin-top: 2vh;
}
